.tiles-container{
	position:relative;
}
.tile{
	float:left;
	margin:5px;
	overflow:hidden;
	position:relative;
}
.tile.transform{
	transition:transform 0.08s ease-in;
}
.tile, .tile *{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.tile-small,
.tile-small .tile-describe,
.tile-small .tile-image{
	width:70px;
	height:70px;
}
.tile-medium,
.tile-medium .tile-describe,
.tile-medium .tile-image{
	width:150px;
	height:150px;
}
.tile-wide,
.tile-wide .tile-describe,
.tile-wide .tile-image{
	width:310px;
	height:150px;
}
.tile-large,
.tile-large .tile-describe,
.tile-large .tile-image{
	width:310px;
	height:310px;
}

.tile .tile-title{
	position:absolute;
	bottom:0;
	color:#fff;
	left:0;
	padding:0px 5px;
	font-family:Arial;
	font-size:15px;
	z-index: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
}
.tile-small .tile-title{
	padding:2px;
	font-size:12px;
}

.tile .tile-notification{
	position:absolute;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.2);
	color:#fff;
	font-family:Arial;
	text-align:center;
	font-weight:bold;
}
.tile-small .tile-notification{
	width:25px;
	height:25px;
	line-height:25px;
}
.tile-medium .tile-notification{
	width:35px;
	height:35px;
	line-height:35px;
}
.tile-wide .tile-notification{
	width:35px;
	height:35px;
	line-height:35px;
}
.tile-large .tile-notification{
	width:35px;
	height:35px;
	line-height:35px;
}

.tile-small .tile-title{
	width:calc(100% - 25px);
	height:25px;
	line-height:25px;
}
.tile-medium .tile-title{
	width:calc(100% - 35px);
	height:35px;
	line-height:35px;
}
.tile-wide .tile-title{
	width:calc(100% - 35px);
	height:35px;
	line-height:35px;
}
.tile-large .tile-title{
	width:calc(100% - 35px);
	height:35px;
	line-height:35px;
}




/* icons sizes */
.tile img.icon{
	float:left;
}
.tile-small img.icon{
	width:calc(70px / 2);
	height:calc(70px / 2);
	margin-top:calc(70px / 4);
	margin-left:calc(70px / 4);
	margin-bottom:calc(70px / 4);
	margin-right:calc(70px / 4);
}
.tile-medium img.icon{
	width: 100px;
	height: 100px;
	margin-left: calc((150px - 100px) / 2);
	margin-right: calc((150px - 100px) / 2);
	margin-top: calc((150px - 100px) / 2);
	margin-bottom: calc((150px - 100px) / 2);
}
.tile-wide img.icon{
	width: 100px;
	height: 100px;
	margin-left: calc((310px - 100px) / 2);
	margin-right: calc((310px - 100px) / 2);
	margin-top: calc((150px - 100px) / 2);
	margin-bottom: calc((150px - 100px) / 2);
}
.tile-large img.icon{
	width:155px;
	height:155px;
	margin-left:calc(310px / 4);
	margin-right:calc(310px / 4);
	margin-top:calc(310px / 4);
	margin-bottom:calc(310px / 4);
}

/* transform classes */
.transform-up-all{
	transform:perspective(500px) rotateX(0.069rad) !important;
	transform-origin:50% bottom;
}
.transform-down-all{
	transform:perspective(500px) rotateX(-0.069rad) !important;
	transform-origin:50% top;
}
.transform-all-right{
	transform:perspective(500px) rotateY(0.069rad) !important;
	transform-origin:left 50%;
}
.transform-all-left{
	transform:perspective(500px) rotateY(-0.069rad) !important;
	transform-origin:right 50%;
}

.transform-up-left{
	transform:perspective(500px) rotateX(2deg) rotateY(-2deg) !important;
	transform-origin:right bottom;
}
.transform-up-right{
	transform:perspective(500px) rotateX(2deg) rotateY(2deg) !important;
	transform-origin:left bottom;
}
.transform-down-left{
	transform:perspective(500px) rotateX(-2deg) rotateY(-2deg) !important;
	transform-origin:right top;
}
.transform-down-right{
	transform:perspective(500px) rotateX(-2deg) rotateY(2deg) !important;
	transform-origin:left top;
}
.transform-all-all{
	transform: perspective(500px) translateZ(-20px) !important;
}

/* transform for small tiles */
.tile-small.transform-up-all{
	transform:perspective(500px) rotateX(0.29rad) !important;
}
.tile-small.transform-down-all{
	transform:perspective(500px) rotateX(-0.29rad) !important;
}
.tile-small.transform-all-right{
	transform:perspective(500px) rotateY(0.29rad) !important;
}
.tile-small.transform-all-left{
	transform:perspective(500px) rotateY(-0.29rad) !important;
}

.tile-small.transform-up-left{
	transform:perspective(500px) rotateX(6deg) rotateY(-6deg) !important;
}
.tile-small.transform-up-right{
	transform:perspective(500px) rotateX(6deg) rotateY(6deg) !important;
}
.tile-small.transform-down-left{
	transform:perspective(500px) rotateX(-6deg) rotateY(-6deg) !important;
}
.tile-small.transform-down-right{
	transform:perspective(500px) rotateX(-6deg) rotateY(6deg) !important;
}


/* styles for effects */
.tile.slideEffect:hover .tile-content .tile-describe,
.tile.zoomEffect:hover .tile-content .tile-describe{
	margin: 0px!important;
}
/* slide */
.tile.slideEffect .tile-content .tile-describe,
.tile.slideEffect .tile-content .tile-image{
	transition:margin 0.2s ease-out;
	position: absolute !important;
}
/* container width and height */
.tile .tile-content{
	width:inherit;
	height:inherit;
}
/* slide on hover */
/* small tile */
/*slide left*/
.tile-small.slideEffect.slideLeft .tile-content .tile-describe{
	margin-left: -70px;
}
.tile-small.slideEffect.slideLeft:hover .tile-content .tile-describe{
	margin-left: 0px;
}
.tile-small.slideEffect.slideLeft .tile-content .tile-image{
	margin-left: 0px;
}
.tile-small.slideEffect.slideLeft:hover .tile-content .tile-image{
	margin-left: 70px;
}
/*slide right*/
.tile-small.slideEffect.slideRight .tile-content .tile-describe{
	margin-left: 70px;
}
.tile-small.slideEffect.slideRight:hover .tile-content .tile-describe{
	margin-left: 0px;
}
.tile-small.slideEffect.slideRight .tile-content .tile-image{
	margin-left: 0px;
}
.tile-small.slideEffect.slideRight:hover .tile-content .tile-image{
	margin-left: -70px;
}
/*slide top*/
.tile-small.slideEffect.slideTop .tile-content .tile-describe{
	margin-top: 70px;
}
.tile-small.slideEffect.slideTop:hover .tile-content .tile-describe{
	margin-top: 0px;
}
.tile-small.slideEffect.slideTop .tile-content .tile-image{
	margin-top: 0px;
}
.tile-small.slideEffect.slideTop:hover .tile-content .tile-image{
	margin-top: -70px;
}
/*slide bottom*/
.tile-small.slideEffect.slideBottom .tile-content .tile-describe{
	margin-top: -70px;
}
.tile-small.slideEffect.slideBottom:hover .tile-content .tile-describe{
	margin-top: 0px;
}
.tile-small.slideEffect.slideBottom .tile-content .tile-image{
	margin-top: 0px;
}
.tile-small.slideEffect.slideBottom:hover .tile-content .tile-image{
	margin-top: 70px;
}

/* medium tile */
/*slide left*/
.tile-medium.slideEffect.slideLeft .tile-content .tile-describe{
	margin-left: -150px;
}
.tile-medium.slideEffect.slideLeft:hover .tile-content .tile-describe{
	margin-left: 0px;
}
.tile-medium.slideEffect.slideLeft .tile-content .tile-image{
	margin-left: 0px;
}
.tile-medium.slideEffect.slideLeft:hover .tile-content .tile-image{
	margin-left: 150px;
}
/*slide right*/
.tile-medium.slideEffect.slideRight .tile-content .tile-describe{
	margin-left: 150px;
}
.tile-medium.slideEffect.slideRight:hover .tile-content .tile-describe{
	margin-left: 0px;
}
.tile-medium.slideEffect.slideRight .tile-content .tile-image{
	margin-left: 0px;
}
.tile-medium.slideEffect.slideRight:hover .tile-content .tile-image{
	margin-left: -150px;
}
/*slide top*/
.tile-medium.slideEffect.slideTop .tile-content .tile-describe{
	margin-top: 150px;
}
.tile-medium.slideEffect.slideTop:hover .tile-content .tile-describe{
	margin-top: 0px;
}
.tile-medium.slideEffect.slideTop .tile-content .tile-image{
	margin-top: 0px;
}
.tile-medium.slideEffect.slideTop:hover .tile-content .tile-image{
	margin-top: -150px;
}
/*slide bottom*/
.tile-medium.slideEffect.slideBottom .tile-content .tile-describe{
	margin-top: -150px;
}
.tile-medium.slideEffect.slideBottom:hover .tile-content .tile-describe{
	margin-top: 0px;
}
.tile-medium.slideEffect.slideBottom .tile-content .tile-image{
	margin-top: 0px;
}
.tile-medium.slideEffect.slideBottom:hover .tile-content .tile-image{
	margin-top: 150px;
}

/* wide tile */
/*slide left*/
.tile-wide.slideEffect.slideLeft .tile-content .tile-describe{
	margin-left: -310px;
}
.tile-wide.slideEffect.slideLeft .tile-content .tile-image{
	margin-left: 0px;
}
.tile-wide.slideEffect.slideLeft:hover .tile-content .tile-image{
	margin-left: 310px;
}
/*slide right*/
.tile-wide.slideEffect.slideRight .tile-content .tile-describe{
	margin-left: 310px;
}
.tile-wide.slideEffect.slideRight .tile-content .tile-image{
	margin-left: 0px;
}
.tile-wide.slideEffect.slideRight:hover .tile-content .tile-image{
	margin-left: -310px;
}
/*slide top*/
.tile-wide.slideEffect.slideTop .tile-content .tile-describe{
	margin-top: 150px;
}
.tile-wide.slideEffect.slideTop .tile-content .tile-image{
	margin-top: 0px;
}
.tile-wide.slideEffect.slideTop:hover .tile-content .tile-image{
	margin-top: -150px;
}
/*slide bottom*/
.tile-wide.slideEffect.slideBottom .tile-content .tile-describe{
	margin-top: -150px;
}
.tile-wide.slideEffect.slideBottom .tile-content .tile-image{
	margin-top: 0px;
}
.tile-wide.slideEffect.slideBottom:hover .tile-content .tile-image{
	margin-top: 150px;
}

/* large tile */
/*slide left*/
.tile-large.slideEffect.slideLeft .tile-content .tile-describe{
	margin-left: -310px;
}
.tile-large.slideEffect.slideLeft .tile-content .tile-image{
	margin-left: 0px;
}
.tile-large.slideEffect.slideLeft:hover .tile-content .tile-image{
	margin-left: 310px;
}
/*slide right*/
.tile-large.slideEffect.slideRight .tile-content .tile-describe{
	margin-left: 310px;
}
.tile-large.slideEffect.slideRight .tile-content .tile-image{
	margin-left: 0px;
}
.tile-large.slideEffect.slideRight:hover .tile-content .tile-image{
	margin-left: -310px;
}
/*slide top*/
.tile-large.slideEffect.slideTop .tile-content .tile-describe{
	margin-top: 310px;
}
.tile-large.slideEffect.slideTop .tile-content .tile-image{
	margin-top: 0px;
}
.tile-large.slideEffect.slideTop:hover .tile-content .tile-image{
	margin-top: -310px;
}
/*slide bottom*/
.tile-large.slideEffect.slideBottom .tile-content .tile-describe{
	margin-top: -310px;
}
.tile-large.slideEffect.slideBottom .tile-content .tile-image{
	margin-top: 0px;
}
.tile-large.slideEffect.slideBottom:hover .tile-content .tile-image{
	margin-top: 310px;
}

/* zoom on hover */

.tile.zoomEffect .tile-content .tile-describe,
.tile.zoomEffect .tile-content .tile-image{
	position: absolute !important;
}
.tile.zoomEffect .tile-content .tile-image{
	transition:transform 0.2s ease-out;
}
.tile.zoomEffect .tile-content .tile-describe{
	transition: margin 0.2s ease-out;
	background: rgba(0, 0, 0, 0.3);
}

.tile.zoomEffect.zoomIn .tile-content .tile-image{
	transform: scale(1,1);
}

.tile.zoomEffect.zoomIn:hover .tile-content .tile-image{
	transform: scale(1.5,1.5);
}

.tile.zoomEffect.zoomOut .tile-content .tile-image{
	transform: scale(1.5,1.5);
}

.tile.zoomEffect.zoomOut:hover .tile-content .tile-image{
	transform: scale(1,1);
}


/*small*/

.tile-small.zoomEffect.zoomInLeft .tile-content .tile-describe,
.tile-small.zoomEffect.zoomOutLeft .tile-content .tile-describe{
	margin-left: -70px;
}

.tile-small.zoomEffect.zoomInRight .tile-content .tile-describe,
.tile-small.zoomEffect.zoomOutRight .tile-content .tile-describe{
	margin-left: 70px;
}

.tile-small.zoomEffect.zoomInTop .tile-content .tile-describe,
.tile-small.zoomEffect.zoomOutTop .tile-content .tile-describe{
	margin-top: 70px;
}

.tile-small.zoomEffect.zoomInBottom .tile-content .tile-describe,
.tile-small.zoomEffect.zoomOutBottom .tile-content .tile-describe{
	margin-top: -70px;
}

/*medium*/

.tile-medium.zoomEffect.zoomInLeft .tile-content .tile-describe,
.tile-medium.zoomEffect.zoomOutLeft .tile-content .tile-describe{
	margin-left: -150px;
}

.tile-medium.zoomEffect.zoomInRight .tile-content .tile-describe,
.tile-medium.zoomEffect.zoomOutRight .tile-content .tile-describe{
	margin-left: 150px;
}

.tile-medium.zoomEffect.zoomInTop .tile-content .tile-describe,
.tile-medium.zoomEffect.zoomOutTop .tile-content .tile-describe{
	margin-top: 150px;
}

.tile-medium.zoomEffect.zoomInBottom .tile-content .tile-describe,
.tile-medium.zoomEffect.zoomOutBottom .tile-content .tile-describe{
	margin-top: -150px;
}

/*wide*/


.tile-wide.zoomEffect.zoomInLeft .tile-content .tile-describe,
.tile-wide.zoomEffect.zoomOutLeft .tile-content .tile-describe{
	margin-left: -310px;
}

.tile-wide.zoomEffect.zoomInRight .tile-content .tile-describe,
.tile-wide.zoomEffect.zoomOutRight .tile-content .tile-describe{
	margin-left: 310px;
}

.tile-wide.zoomEffect.zoomInTop .tile-content .tile-describe,
.tile-wide.zoomEffect.zoomOutTop .tile-content .tile-describe{
	margin-top: 150px;
}

.tile-wide.zoomEffect.zoomInBottom .tile-content .tile-describe,
.tile-wide.zoomEffect.zoomOutBottom .tile-content .tile-describe{
	margin-top: -150px;
}

/*large*/



.tile-wide.zoomEffect.zoomInLeft .tile-content .tile-describe,
.tile-wide.zoomEffect.zoomOutLeft .tile-content .tile-describe{
	margin-left: -310px;
}

.tile-wide.zoomEffect.zoomInRight .tile-content .tile-describe,
.tile-wide.zoomEffect.zoomOutRight .tile-content .tile-describe{
	margin-left: 310px;
}

.tile-wide.zoomEffect.zoomInTop .tile-content .tile-describe,
.tile-wide.zoomEffect.zoomOutTop .tile-content .tile-describe{
	margin-top: 310px;
}

.tile-wide.zoomEffect.zoomInBottom .tile-content .tile-describe,
.tile-wide.zoomEffect.zoomOutBottom .tile-content .tile-describe{
	margin-top: -310px;
}




















.images-container{
	width: 100%;
	float: left;
}

.images-container img{
	transition: all 0s;
	position: absolute;
	width: 100%;
	height: 100%;
}
.images-container img.animate{
	transition: margin 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
/* carousel */



.carousel-dots-container{
	position:absolute;
	width:100%;
	height:20px;
	text-align:center;
	left:0;
	bottom:20px;
	z-index:3;
}
.tile-small .carousel-dots-container{
	display: none;
}
.carousel-dots-container .dot{
	width:15px;
	height:15px;
	margin:2px;
	display:inline-block;
	background:white;
	border-radius:100%;
	cursor:pointer;
	box-sizing:border-box;
	transition: background 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.carousel-dots-container .dot.active{
	background:#488fe6;
}
.carousel-dots-container .dot:hover{
	border: 1px solid #488fe6;
}

/*slider*/




.tile-content, .tile-describe, .tile-image{
	float:left;
}

.tile-describe{
	padding:5px;
	box-sizing:border-box;
	font-size:11px;
	color:#fff;
	font-family:Arial;
	overflow:hidden;
	text-overflow:ellipsis;
	word-wrap:break-word;
}

.tile-image img.image{
	float:left;
	width:inherit;
	height:inherit;
}
